<h1>Log Report Diary  !</h1>
<br><br>
<h3>Click a month to view the tasks that have been completed</h3>
<br>
<div align="center" class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-primary" routerLink="/jan">January</button>
  <button type="button" class="btn btn-outline-primary">February</button>
  <button type="button" class="btn btn-outline-primary">March</button>
  <button type="button" class="btn btn-outline-primary">April</button>
  <button type="button" class="btn btn-outline-primary">May</button>
  <button type="button" class="btn btn-outline-primary">June</button>

</div>


<br><br><br>
<h3> &nbsp; &nbsp; &nbsp; &nbsp; upcoming Tasks</h3>
<br>
<h6>Complete Angular tutorial series </h6>
<h6>Complete spring tutorial series </h6>
<h6>Complete reading Clean Code Book by Robert Cecil Martin </h6>
<h6>Presentation on a technical topic </h6>
