<br>
<h1>Tasks for January</h1>
<br>
<br>
<div class="table-responsive">
  <table class="table align-middle">
    <thead>
    <tr>
      <td>      Start Date
      </td>
      <td>      End Date
      </td>
      <td>      Task
      </td>
      <td>      Task Description
      </td>
    </tr>
    </thead>

    <tbody>
    <td>      3
    </td>
    <td>      4
    </td>
    <td>      Create Github pages site to keep work Diary.
    </td>
    <td>      Created the work diary using angular framework used bootstrap libraries . Studied on github and githubpages
    </td>

   <!-- <tr>
      <td>...</td>
      <td>...</td>
      <td class="align-top">This cell is aligned to the top.</td>
      <td>...</td>
    </tr>-->
    </tbody>
  </table>
</div>
